<!-- 全局js -->
<script src="__JS__/jquery.min.js?v=2.1.4"></script>
<script src="__JS__/bootstrap.min.js?v=3.3.6"></script>
<script type="text/javascript" src="__JS__/plugins/metisMenu/jquery.metisMenu.js"></script>
<script type="text/javascript" src="__JS__/plugins/slimscroll/jquery.slimscroll.min.js"></script>
<script type="text/javascript" src="__JS__/plugins/layer/layer.min.js"></script>

<!-- Data Tables -->
<script type="text/javascript" src="__JS__/plugins/dataTables/jquery.dataTables.js"></script>
<script type="text/javascript" src="__JS__/plugins/dataTables/dataTables.bootstrap.js"></script>
<script type="text/javascript" src="__JS__/typeahead.js"></script>
<!--toastr-->
<script type="text/javascript" src="__VENDOR__/toastr/toastr.min.js"></script>

<!--loading-->
<script src="__VENDOR__/loading/loading.js"></script>

<!--layui-->
<script type="text/javascript" src="__VENDOR__/layui/layui.js"></script>
<include file='Layout:ins_footer'/>
