<!DOCTYPE html>
<html>

	<head>
		<meta charset="UTF-8">
		<meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
		<meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1">
		<title>Edit Ware</title>
		<include file='Layout:ins_css' />
		<style>
			#btn-div {
				float: right;
				margin-top: 20px;
			}
			
			.save-info {
				width: 200px;
			}
			
			.itemheight {
				margin-bottom: 20px;
			}
			
			#detail {
				height: 160px;
			}
		</style>
	</head>

	<body>
		<div class="wrapper wrapper-content animated fadeInRight">
			<div class="row">
				<div class="col-sm-12">

					<form class="layui-form" action="" id="staffForm">
						<div class="layui-form-item itemheight">
							<label class="layui-form-label">Email</label>
							<div class="layui-input-block">
								<input type="text" name="email" lay-verify="required" autocomplete="off" placeholder="Please enter the email" class="layui-input" value="{$data.email}">
							</div>
						</div>
						<div class="layui-form-item itemheight">
							<label class="layui-form-label">Phone</label>
							<div class="layui-input-block">
								<input type="text" name="phone" lay-verify="required" autocomplete="off" placeholder="Please enter the phone" class="layui-input" value="{$data.phone}">
							</div>
						</div>
						<input value="{$data.id}" hidden="hidden" name="id" />
						<div id="btn-div">
							<button class="layui-btn save-info" lay-submit="" lay-filter="register">Save</button>
						</div>
					</form>

				</div>
			</div>
		</div>
		<include file='Layout:ins_js' />
		<script type="text/javascript">
			layui.use(['form', 'layedit', 'laydate'], function() {
				var form = layui.form,
					layer = layui.layer,
					layedit = layui.layedit,
					laydate = layui.laydate;
				//自定义验证规则
				form.verify({
					title: function(value) {
						if(value == '' || value == null) {
							return 'Please enter information';
						}
					},
				});
				form.on('submit(register)', function(data) {
					var formData = $('#staffForm').serializeArray();
					var postData = {};
					$(formData).each(function() {
						postData[this.name] = this.value;
					}); // * 发起请求
					if(!isEmailAvailable(postData['email'])) {
						layer.alert('Email format is incorrect', {
							icon: 5,
							btn: ['OK'],
							title: 'INFORMATION'
						});
					} else if(!isPoneAvailable(postData['phone'])) {
						layer.alert('Phone format is incorrect', {
							icon: 5,
							btn: ['OK'],
							title: 'INFORMATION'
						});
					} else {
						$.ajax({
							data: postData,
							type: "POST",
							dataType: "JSON",
							url: '__URL__/editContactInfo',
							success: function(data) {
								if(data.state == true) {
									var index = parent.layer.getFrameIndex(window.name);
									parent.layer.close(index);
								} else {
									layer.alert(data.info, {
										icon: 5,
										btn: ['OK'],
										title: 'INFORMATION'
									});
								}
							}
						}); // end ajax
					}
					return false;
				});
			});

			function isEmailAvailable(emailInput) {
				var myreg = /^([a-zA-Z]|[0-9])(\w|\-)+@[a-zA-Z0-9]+\.([a-zA-Z]{2,4})$/;
				if(!myreg.test(emailInput)) {
					return false;
				} else {
					return true;
				}
			}

			function isPoneAvailable(poneInput) {
				var myreg = /^[1][3,4,5,7,8][0-9]{9}$/;
				if(!myreg.test(poneInput)) {
					return false;
				} else {
					return true;
				}
			}
		</script>

	</body>

</html>